/* Mini-buildd specific style definitions. */

/* GLOBAL */

body
{
	margin: 0;
	color: #333333;
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans", "Verdana", Arial, sans-serif;
	font-size: 12px;
}

a:link, a:visited
{
	color: #5b80b2;
	text-decoration: none;
}

a:hover
{
	color: #003366;
}

#mb_branding a.image:link, #mb_branding a.image:visited, #mb_branding a.image:hover
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0;
	text-decoration: none;
}


/* HEADER */

#mb_header
{
	width: 100%;
	margin: 0;
	background-image:url('/static/images/mb_header_background_gradient.png');
	background-position-top: 0px;
	background-position-left: 0px;
	background-repeat: repeat-x;
	color: #ffffcc;
	overflow: hidden;
	font-size: 15px;
}

#mb_header a:link, #mb_header a:visited
{
	font-size: 15px;
	color: #ffffff;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	margin: 0;
	padding: 35px 8px 16px 8px;
}

#mb_header a:hover
{
	font-size: 15px;
	color: #ffffff;
	background-color: #afc1c4;
	border-left: 1px solid #57859a; /*417690;*/
	border-right: 1px solid #57859a; /*417690; #635543;*/
	margin: 0;
	padding: 35px 8px 16px 8px;
	text-decoration: underline;
}

/* BRANDING */

#mb_branding img
{
	float: left;
	margin: 8px 10px 8px 10px;
}

/* NAVIGATION */

#mb_navigation ul
{
	margin: 35px 0px 0px 6px;
}

#mb_navigation li
{ 
	list-style: none;
	display: inline;
	margin: 0;
	padding: 2px 0px 2px 0px;
}

#mb_navigation li.first
{
	padding-left: 0px;
	border-left: 0;
}

/* CONTENT */

#mb_content
{
	padding-left: 15px;
	padding-right: 15px;
}

/* FOOTER */

#mb_footer
{
	width: 100%;
	border-top: 1px solid #cccccc;
	padding-left: 15px;
}

#mb_footer p.version
{
	margin-top: 4px;
}
