/* Mini-buildd specific style definitions. */

/* GLOBAL */

body
{
	color: #333333;
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans", "Verdana", Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

a:link, a:visited
{
	color: #5b80b2;
	text-decoration: none;
}

a:hover
{
	color: #003366;
}

#mb_branding a.image:link, #mb_branding a.image:visited, #mb_branding a.image:hover
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0;
	text-decoration: none;
}


/* HEADER */

#mb_header
{
	width: 100%;
	background: url("/static/images/mb_header_background_gradient.png") repeat-x scroll left top;
	color: #ffffcc;
	overflow: hidden;
	font-size: 15px;
}

#mb_header a:link, #mb_header a:visited
{
	font-size: 15px;
	color: #ffffff;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	margin: 0;
	padding: 35px 8px 16px 8px;
}

#mb_header a:hover
{
	font-size: 15px;
	color: #ffffff;
	background-color: #afc1c4;
	border-left: 1px solid #57859a;
	border-right: 1px solid #57859a;
	margin: 0;
	padding: 35px 8px 16px 8px;
	text-decoration: underline;
}


/* BRANDING */

#mb_branding img
{
	float: left;
	margin: 8px 10px 8px 10px;
	border: 0;
}


/* NAVIGATION */

#mb_navigation ul
{
	margin: 35px 0px 0px 6px;
}

#mb_navigation li
{
	list-style: none;
	display: inline;
	margin: 0;
	padding: 2px 0px 2px 0px;
}

#mb_navigation li.first
{
	padding-left: 0px;
	border-left: 0;
}


/* CONTENT */

#mb_content
{
	margin: 15px 15px 15px 15px;
}

#mb_content .box
{
	border: 1px solid #aec1c3;
	margin: 15px 0px 15px 0px;
}

#mb_content h1.box-caption
{
	background: url("/static/images/icon_48x48.png") no-repeat scroll right top;
	background-color: #57859a;
	color: white;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 3px 0px 3px 5px;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 2px 0px 3px 5px;
	border-top: 2px solid #57859a;
	border-right: 2px solid #57859a;
}

#mb_content .inner-box
{
	border: 1px solid #57859a;
	margin: 15px 15px 15px 15px;
}

#mb_content h1.inner-box-caption
{
	background-color: #81a2ae;
	color: white;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 3px 0px 3px 5px;
}

#mb_content a.inner-box-anchor
{
	color: white;
}

#mb_content .inner-inner-box
{
	border: 1px solid #c7c7c7;
	margin: 15px 15px 15px 15px;
}

#mb_content h1.inner-inner-box-caption
{
	background-color: #e7e7e7;
	color: #444444;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 3px 0px 3px 5px;
}

#mb_content h1, #mb_content h2, #mb_content h3, #mb_content h4, #mb_content h5
{
	color: #417690;
	font-weight: bold;
	margin: 15px 15px 10px 15px;
}

#mb_content h1 {
	font-size: 15px;
}

#mb_content h2 {
	font-size: 14px;
}

#mb_content h3 {
	font-size: 13px;
}

#mb_content h4 {
	font-size: 12px;
}

#mb_content h5 {
	font-size: 11px;
}

#mb_content p, #mb_content ul, #mb_content table
{
	margin: 10px 15px 15px 15px;
}

#mb_content td
{
	text-align: left;
	padding: 8px 20px 0px 0px;
}

#mb_content th
{
	color: #417690;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	padding: 0px 20px 3px 0px;
}

#mb_content ul
{
	list-style-image: url("/static/images/mb_list_style_image.png");
}

#mb_content li
{
	margin: 5px 0px 5px 0px;
}

#mb_content span.status
{
	padding: 1px 3px 0px 3px;
	background: url("/static/images/mb_status_background_gradient.png") repeat-x scroll left bottom #ffffff;
}

#mb_content span.status.running
{
	color: green;
}

#mb_content span.status.stopped
{
	color: red;
}

#mb_content hr
{
	border-top: 1px dashed #aec1c3;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	margin: 0px 15px 0px 15px;
}

#mb_content pre
{
	background-color: #f7f7f7;
	margin: 0px 0px 0px 0px;
}

#mb_content pre.pre-inline
{
	display: inline;
	border: 1px solid #e7e7e7;
	padding: 1px 1px 1px 1px;
}

#mb_content div.pre-block
{
	border: 1px solid #e7e7e7;
	padding: 1px 1px 1px 1px;
}

#mb_content span.alert
{
	color: red;
	font-weight: bold;
}

#mb_content td.search-result-cannot-propagate
{
	color: #a7a7a7;
	font-size: 11px;
	font-weight: bold;
}

#mb_content a.propagate:link, #mb_content a.propagate:visited
{
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-style: solid;
	border-width: 1px;
	margin: 0px 0px 0px 0px;
	padding: 4px 6px 4px 6px;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
	color: #222222;
	background-color: #e7e7e7;
}

#mb_content a.propagate:hover
{
	background-color: #f7f7f7;
}

#mb_content a.remove:link, #mb_content a.remove:visited
{
	background: url("/static/admin/img/icon_deletelink.gif") no-repeat scroll 3px 50% #e7e7e7;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-style: solid;
	border-width: 1px;
	margin: 0px 0px 0px 0px;
	padding: 4px 6px 4px 16px;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
	color: #222222;
}

#mb_content a.remove:hover
{
	color: white;
	background-color: #ff6060;
}

#mb_content span.emphasize-headline
{
	font-style: italic;
}

#mb_content span.emphasize-migrates-from
{
	font-family: monospace;
	font-style: italic;
}

#mb_repository_misc ul
{
	list-style: none;
	margin: 15px 15px 15px 15px;
	padding: 0;
}

#mb_repository_search_form input.package-input
{
	width: 300px;
}

#mb_package_propagation_results pre
{
	margin: 0px 15px;
}

#mb_package_propagation_results ul
{
	margin-left: 0px;
}


/* FOOTER */

#mb_footer
{
	border-top: 1px solid #57859a;
	padding-left: 15px;
	margin-bottom: 2px;
}

#mb_footer p
{
	margin: 4px 15px 0 0;
}

#mb_footer span.page-footer
{
	font-size: 11px;
	font-weight: bold;
	color: #81a2ae;
}

#mb_footer a.homelink:link, #mb_footer a.homelink:visited, #mb_footer a.homelink:hover
{
	color: #878787;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0;
	text-decoration: none;
}
