{% extends "base.html" %}

{% block mbd_page_footer %}
	<tt>user accounts</tt>
{% endblock %}

{% block content %}
	<div class="box">
		<h1 class="box-caption">{% block title %}{% endblock %}</h1>
		<p>
			{% if user.is_authenticated %}
				<a href="/accounts/logout/" title="Logout">Logout</a>
				|
				<a href="/accounts/password/change/">Change password</a>
				|
			{% else %}
				<a href="/accounts/login/" title="Login">Login</a>
				|
			{% endif %}
			<a href="/accounts/password/reset/">Reset password</a>
			|
			<a href="/accounts/register/">Register new account</a>
		</p>
		<hr />
		{% block reg_content %}{% endblock %}
	</div>
{% endblock %}
