# Python
/build/
/mini_buildd/__init__.py
*.pyc

# Debian package
/debian/mini-buildd/*
/debian/mini-buildd.*.debhelper
/debian/mini-buildd.debhelper.log
/debian/mini-buildd.substvars
/debian/files

# Cruft from test uploads
/examples/packages/builddir/
