[MESSAGES CONTROL]

# Missing docstring
disable=C0111
# Line too long
disable=C0301
# Used when a variable is accessed for a nonexistent member.
disable=E1101
# Used when a class has no __init__ method, and neither does its parent classes.
disable=W0232
# Too few public methods (%s/%s)
disable=R0903
# Too many public methods (%s/%s)
disable=R0904

[TYPECHECK]
# see ./devel pylintgeneratedmembers
generated-members=add,all,build_keyring_package_for,codename,create_default_layout,DoesNotExist,filechroot,get_status_display,id,looplvmchroot,lvmchroot,mandatory_architectures,mbd_get_apt_line,mbd_get_apt_pin,mbd_get_archive,mbd_get_default_version,mbd_get_mandatory_version_regex,mbd_id,objects,split,splitlines,suites
