{% load i18n %}

<tr>
	{% for model in app.models %}
		{% if model.name == model_name %}
			{% if hide_add and hide_change %}
				{% if model.perms.change %}<th scope="row" colspan="3"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
			{% else %}
				{% if hide_add %}
					{% if model.perms.change %}<th scope="row" colspan="2"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
					{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
				{% else %}
					{% if hide_change %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td colspan="2"><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
					{% else %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
</tr>
