{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
	{% if app_list %}
	{% for app in app_list %}
	{% if app.name != "Mini_Buildd" %}
	<div class="module">
		<table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
			<caption class="mb"><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
			{% for model in app.models %}
			<tr>
				{% if model.perms.change %}
				<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
				{% else %}
				<th scope="row">{{ model.name }}</th>
				{% endif %}
				{% if model.perms.add %}
				<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
				{% else %}
				<td>&nbsp;</td>
				{% endif %}
				{% if model.perms.change %}
				<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
				{% else %}
				<td>&nbsp;</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>
	{% else %}
	<!-- MINI-BUILDD -->
	<div class="module mb">
		<div id="mb_box">
			<h1 class="mini-buildd"><a href="{{ app.app_url }}" class="section">Mini-buildd</a></h1>
			<!-- DAEMON -->
			<div class="inner-box">
				<table>
					<caption>Daemon</caption>
					<tr>
						{% for model in app.models %}{% if model.name == "Daemon" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						<!-- {% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %} -->
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
				</table>
			</div>
			<!-- ARCHIVES AND SOURCES -->
			<div class="inner-box">
				<table>
					<caption>Archives and Sources</caption>
					<tr>
						{% for model in app.models %}{% if model.name == "Apt keys" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
					<tr>
						{% for model in app.models %}{% if model.name == "Archives" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
					<tr>
						{% for model in app.models %}{% if model.name == "Sources" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
					<tr>
						{% for model in app.models %}{% if model.name == "Priority sources" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
				</table>
			</div>
			<!-- SUITES AND LAYOUTS-->
			<div class="inner-box">
				<table>
					<caption>Suites and Layouts</caption>
					<tr>
						{% for model in app.models %}{% if model.name == "Suites" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
					<tr>
						{% for model in app.models %}{% if model.name == "Layouts" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
				</table>
			</div>
			<!-- DISTRIBUTIONS AND REPOSITORIES -->
			<div class="inner-box">
				<table>
					<caption>Distributions and Repositories</caption>
					<tr>
						{% for model in app.models %}{% if model.name == "Distributions" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
					<tr>
						{% for model in app.models %}{% if model.name == "Repositories" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
				</table>
			</div>
			<!-- CHROOTS -->
			<div class="inner-box">
				<table>
					<caption>Chroots</caption>
					<tr>
						{% for model in app.models %}{% if model.name == "File chroots" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
					<tr>
						{% for model in app.models %}{% if model.name == "Lvm chroots" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
					<tr>
						{% for model in app.models %}{% if model.name == "Loop lvm chroots" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
				</table>
			</div>
			<!-- UPLOADERS AND REMOTES -->
			<div class="inner-box">
				<table>
					<caption>Uploaders and Remotes</caption>
					<tr>
						{% for model in app.models %}{% if model.name == "User profiles" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						<!-- {% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %} -->
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
					<tr>
						{% for model in app.models %}{% if model.name == "Remotes" %}
						{% if model.perms.change %}<th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>{% else %}<th scope="row">{{ model.name }}</th>{% endif %}
						{% if model.perms.add %}<td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% if model.perms.change %}<td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>{% else %}<td>&nbsp;</td>{% endif %}
						{% endif %}{% endfor %}
					</tr>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
	{% else %}
	<p>{% trans "You don't have permission to edit anything." %}</p>
	{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
	<div class="module" id="recent-actions-module">
		<h2>{% trans 'Recent Actions' %}</h2>
		<h3>{% trans 'My Actions' %}</h3>
		{% load log %}
		{% get_admin_log 10 as admin_log for_user user %}
		{% if not admin_log %}
		<p>{% trans 'None available' %}</p>
		{% else %}
		<ul class="actionlist">
			{% for entry in admin_log %}
			<li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
				{% if entry.is_deletion or not entry.get_admin_url %}
				{{ entry.object_repr }}
				{% else %}
				<a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
				{% endif %}
				<br/>
				{% if entry.content_type %}
				<span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
				{% else %}
				<span class="mini quiet">{% trans 'Unknown content' %}</span>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}
