Source: mini-buildd
Section: devel
Priority: extra
Maintainer: Stephan Sürken <absurd@debian.org>
X-Python-Version: >=2.6
Build-Depends: debhelper (>= 8.1.0~), man-db (>= 2.5.1), po-debconf,
               python (>= 2.6.6-3~), python-debian (>= 0.1.18~)
Standards-Version: 3.9.1
Vcs-Git: git://git.debian.org/git/collab-maint/mini-buildd.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/mini-buildd.git;a=summary

Package: mini-buildd
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, python (>= 2.6), python-argparse, bash (>= 4), adduser, bsd-mailx | mailx,
         openssh-client, gnupg, wget,
         python-daemon (>= 1.5.5), python-pyinotify (>= 0.8.9),
         python-cherrypy3, python-pyftpdlib,
         python-gnupginterface (>= 0.3.2-9~), python-debian (>= 0.1.18~),
         python-django (>= 1.2), python-django-extensions (>= 0.4),
         python-setuptools,
         reprepro (>= 4.2), procps,
         adduser, debootstrap (>= 1.0.24~),
         lvm2, schroot (>= 1.4.22), sbuild (>= 0.62.4),
         dput, dpkg-dev, fakeroot, debhelper, cdbs, devscripts (>= 2.10.15)
Recommends: dwww, python-pygraphviz, apache2-mpm-worker | httpd
Description: Minimal Debian build daemon
 Mini-buildd is an easy-to-configure Debian autobuilder and
 repository.
