#!/bin/sh -e

DEFAULT_FILE=/etc/default/mini-buildd
. /usr/share/debconf/confmodule

if [ -e "${DEFAULT_FILE}" ]; then
	. "${DEFAULT_FILE}" || true
	db_set mini-buildd/options "${MINI_BUILDD_OPTIONS}"
fi

db_input medium   "mini-buildd/home" || true
db_input critical "mini-buildd/admin_password" || true
db_input low      "mini-buildd/options" || true

db_go || true
