#!/bin/sh -e

# @hack: Must be the same as in mbd-common.sh (we cannot include that so that pre-configuration is possible).
MBD_REPCONFIGFILE="/home/mini-buildd/.mini-buildd.conf"
MBD_REPCONFIGVARS="mbd_rephost mbd_httpport mbd_sshport mbd_mail mbd_id mbd_dists mbd_archs mbd_archall"

. /usr/share/debconf/confmodule

mbdDynConfVars()
{
	for arch in `echo "${mbd_archs}" | tr -d ","`; do
		echo -n "mini-buildd-rep/mbd_bldhost_${arch} "
	done
	for dist in `echo "${mbd_dists}" | tr -d ","`; do
		for kind in base extra; do
			for arch in any `echo "${mbd_archs}" | tr -d ","`; do
				echo -n "mini-buildd-rep/mbd_src_`echo ${dist} | tr "-" "_"`_${kind}_${arch} "
			done
		done
	done
}

# Load config file, if it exists.
if [ -e "${MBD_REPCONFIGFILE}" ]; then
	. "${MBD_REPCONFIGFILE}" || true

	# Store values from config back to debconf
	for v in ${MBD_REPCONFIGVARS} `mbdDynConfVars`; do
		db_set mini-buildd-rep/${v} "${!v}" || true
	done
else
	# On-the-fly defaults
	db_set mini-buildd-rep/mbd_rephost "`hostname -f`"
	db_set mini-buildd-rep/mbd_id "`hostname`"
	db_set mini-buildd-rep/mbd_mail "mini-buildd@`hostname -f`"
fi

# Easy questions
db_input medium mini-buildd-rep/mbd_rephost  || true
db_input low    mini-buildd-rep/mbd_httpport || true
db_input low    mini-buildd-rep/mbd_sshport  || true
db_input high   mini-buildd-rep/mbd_mail     || true
db_input high   mini-buildd-rep/mbd_id       || true

# Dists && Archs: We need these values to compute further questions
db_input high mini-buildd-rep/mbd_dists || true
db_input high mini-buildd-rep/mbd_archs || true
db_go || true

db_get mini-buildd-rep/mbd_dists || true
mbd_dists="${RET}"
db_get mini-buildd-rep/mbd_archs || true
mbd_archs="${RET}"

# What arch should compile arch=all packages?
db_subst mini-buildd-rep/mbd_archall ARCHS "${mbd_archs}"
db_input high mini-buildd-rep/mbd_archall || true

# Configure sources lists (mbd_src_DIST_[base|extra]_ARCH)
for dist in `echo "${mbd_dists}" | tr -d ","`; do
	for kind in base extra; do
		for arch in any `echo "${mbd_archs}" | tr -d ","`; do
			KEY="mini-buildd-rep/mbd_src_`echo ${dist} | tr "-" "_"`_${kind}_${arch}"
			# Ugly prio choser:
			# Base/any lists: high (this must be configured)
			# Extra/any lists: medium (usually not needed)
			# Arch-special lists: low (only needed in special cases)
			if [ "${kind}" = "base" -a "${arch}" = "any" ]; then
				PRIO="high"
			elif [ "${kind}" = "extra" -a "${arch}" = "any" ]; then
				PRIO="medium"
			else
				PRIO="low"
			fi
			db_register mini-buildd-rep/mbd_source "${KEY}"
			db_subst "${KEY}" DIST "${dist}"
			db_subst "${KEY}" KIND "${kind}"
			db_subst "${KEY}" ARCH "${arch}"
			db_input ${PRIO} "${KEY}" || true
		done
	done
done

# Configure build hosts (mbd_bldhost_ARCH)
for arch in `echo "${mbd_archs}" | tr -d ","`; do
	KEY="mini-buildd-rep/mbd_bldhost_${arch}"
	db_register mini-buildd-rep/mbd_bldhost "${KEY}"
	db_subst "${KEY}" ARCH "${arch}"
	db_input high "${KEY}" || true
done

db_go || true
