#!/bin/sh -e

. /usr/share/debconf/confmodule

DEFAULT_FILE="/etc/default/mini-buildd"

# Like db_set, but skip if value is empty
_db_set_if_nonempty()
{
	local db_id="${1}"
	local value="${2}"

	if [ -n "${value}" ]; then
		db_set "${db_id}" "${value}"
	fi
}

# Honor manual changes from the default file
if [ -e "${DEFAULT_FILE}" ]; then
	. "${DEFAULT_FILE}" || true
	_db_set_if_nonempty mini-buildd/options "${MINI_BUILDD_OPTIONS}"
fi

# Ask user
db_input medium   "mini-buildd/home" || true
db_input critical "mini-buildd/admin_password" || true
db_input low      "mini-buildd/options" || true

db_input high "mini-buildd/note" || true

db_go || true
