#!/bin/bash -e

# @hack: Must be the same as in mbd-common.sh (we cannot include that so that pre-configuration is possible).
MBD_BLDCONFIGFILE="/home/mini-buildd/.mini-buildd-bld.conf"
MBD_BLDCONFIGVARS="mbd_rephttphost mbd_bldhost mbd_lvm_vg"
MBD_REPCONFIGFILE="/home/mini-buildd/.mini-buildd.conf"

# @hack: These two functions are copied from mbd-common
mbdCatUrl()
{
	local url="${1}"
	wget --quiet --output-document=- "${url}"
	return $?
}

mbdGetUrl()
{
	local file="${1}"
	local url="${2}"
	if mbdCatUrl "${url}" >"${file}.tmp"; then
		mv "${file}.tmp" "${file}"
		echo "${file} downloaded (from ${url})." >&2
		return 0
	else
		rm -f "${file}.tmp"
		echo "Error retrieving ${url}." >&2
		if [ ! -e "${file}" ]; then
			echo "# Error downloading ${file} from ${url}; please reconfigure package or rerun $0." >"${file}"
		fi
		return 1
	fi
}

. /usr/share/debconf/confmodule

# Load config file, if it exists.
if [ -e "${MBD_BLDCONFIGFILE}" ]; then
	. "${MBD_BLDCONFIGFILE}" || true

	# Store values from config back to debconf
	for v in ${MBD_BLDCONFIGVARS}; do
		db_set mini-buildd-bld/${v} "${!v}"
	done
else
	# On-The-Fly default
	db_set mini-buildd-bld/mbd_rephttphost "`hostname -f`"
fi

# First, get the repository's name, and suck our configuration
GOT_BLD_CONFIG=false
ERROR=""
while ! ${GOT_BLD_CONFIG}; do
	db_subst mini-buildd-bld/mbd_rephttphost ERROR "${ERROR}"
	db_input high mini-buildd-bld/mbd_rephttphost || true
	db_go || true
	db_get mini-buildd-bld/mbd_rephttphost || true
	mbd_rephttphost="${RET}"

	if [ -e "/etc/init.d/mini-buildd-rep" ] || mbdGetUrl "${MBD_REPCONFIGFILE}" "http://${mbd_rephttphost}/~mini-buildd/config"; then
		GOT_BLD_CONFIG=true
		chown mini-buildd:sbuild "${MBD_REPCONFIGFILE}"
	else
		ERROR="ERROR: Could not find repo on that host."
	fi
done

. "${MBD_REPCONFIGFILE}"

BLDHOSTS=""
MBD_TMP_SEP=""
for arch in `echo "${mbd_archs}" | tr -d ","`; do
	host="mbd_bldhost_${arch}"
	BLDHOSTS="${BLDHOSTS}${MBD_TMP_SEP}${!host}"
	MBD_TMP_SEP=", "
	if [ -z "${mbd_bldhost}" -a "${!host}" = "`hostname -f`" ]; then
		# On-the fly default
		db_set mini-buildd-bld/mbd_bldhost "${!host}"
	fi
done
db_subst mini-buildd-bld/mbd_bldhost BLDHOSTS "${BLDHOSTS}"
db_input high mini-buildd-bld/mbd_bldhost || true

# LVM stuff
db_input high mini-buildd-bld/mbd_lvm_vg || true

db_go || true
