#!/bin/sh -e

# @hack: Must be the same as in mbd-common.sh (we cannot include that so that pre-configuration is possible).
MBD_BLDCONFIGFILE="/home/mini-buildd/.mini-buildd-bld.conf"
MBD_BLDCONFIGVARS="mbd_rephttphost mbd_debian_mirror mbd_lvm_vg"

. /usr/share/debconf/confmodule

# Load config file, if it exists.
if [ -e "${MBD_BLDCONFIGFILE}" ]; then
	. "${MBD_BLDCONFIGFILE}" || true

	# Store values from config back to debconf
	for v in ${MBD_BLDCONFIGVARS}; do
		db_set mini-buildd-bld/${v} "${!v}"
	done
fi

db_input high mini-buildd-bld/mbd_rephttphost || true
db_input high mini-buildd-bld/mbd_debian_mirror || true
db_input high mini-buildd-bld/mbd_lvm_vg || true

db_go || true
