#!/bin/sh -e

# @hack: Must be the same as in mbd-common.sh (we cannot include that so that pre-configuration is possible).
MBD_REPCONFIGFILE="/home/mini-buildd/.mini-buildd.conf"
MBD_REPCONFIGVARS="mbd_rephost mbd_id mbd_dists mbd_bldhosts mbd_archall mbd_mail mbd_httpport mbd_sshport"

. /usr/share/debconf/confmodule

# Load config file, if it exists.
if [ -e "${MBD_REPCONFIGFILE}" ]; then
	. "${MBD_REPCONFIGFILE}" || true

	# Store values from config back to debconf
	for v in ${MBD_REPCONFIGVARS}; do
		db_set mini-buildd-rep/${v} "${!v}"
	done
else
	# On-the-fly defaults
	db_set mini-buildd-rep/mbd_rephost "`hostname -f`"
	db_set mini-buildd-rep/mbd_bldhosts "`dpkg --print-architecture`:`hostname -f`"
	db_set mini-buildd-rep/mbd_mail "mini-buildd@`hostname -f`"
fi

# Ask questions.
db_input high mini-buildd-rep/mbd_rephost || true
db_input high mini-buildd-rep/mbd_id || true
db_input high mini-buildd-rep/mbd_dists || true
db_input high mini-buildd-rep/mbd_bldhosts || true
db_input high mini-buildd-rep/mbd_archall || true
db_input high mini-buildd-rep/mbd_mail || true
db_input low mini-buildd-rep/mbd_httpport || true
db_input low mini-buildd-rep/mbd_sshport || true
db_go || true
