#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --with=python2,sphinxdoc

override_dh_installdocs:
	python setup.py build_sphinx --source-dir=build/sphinx
	dh_installdocs build/sphinx/html

override_dh_installman:
	help2man \
		--output=build/mini-buildd.8 --section=8 \
		--no-info --no-discard-stderr \
		--include=debian/mini-buildd.help2man.include ./mini-buildd
	help2man \
		--output=build/mini-buildd-tool.1 --section=1 \
		--no-info --no-discard-stderr \
		--name="mini-buildd-tool \- User/client tool box for mini-buildd instances." ./mini-buildd-tool
	dh_installman build/mini-buildd.8 build/mini-buildd-tool.1

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build/ *.egg-info/

override_dh_fixperms:
	dh_fixperms
	chmod 440 debian/mini-buildd/etc/sudoers.d/mini-buildd-sudoers
