#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --with=python2

override_dh_installdocs:
	python setup.py build_sphinx --source-dir=build/sphinx
	dh_installdocs build/sphinx/html

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build/ *.egg-info/

override_dh_fixperms:
	dh_fixperms
	chmod 440 debian/mini-buildd/etc/sudoers.d/mini-buildd-sudoers
