{% load base %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<a href="/mini_buildd/">Home</a> |
		<a href="/admin/mini_buildd/">Configure</a> |
		<a href="/mini_buildd/download/archive.key">Download Archive Key</a> |
		<a href="/mini_buildd/download/dput.cf">Download Dput Config</a> |
		<a href="/mini_buildd/manual/index.html">Manual</a>
		<hr/>
		{% block content %}{% endblock %}
		<hr/>
		<span style="font-size:smaller">mini-buildd {% mbd_version %}</span>
	</body>
</html>
