{% extends "mini_buildd/page.html" %}

{% block title %}mini-buildd{% endblock %}
{% block page_title %}{{ daemon.tpl.model.identity }}{% endblock %}
{% block page_sub_title %}{{ daemon.tpl.running_text }}{% endblock %}
{% block mbd_page_footer %}GnuPG long key and fingerprint: <tt>{{ daemon.tpl.model.mbd_gnupg_long_id }}: {{ daemon.tpl.model.mbd_gnupg_fingerprint }}</tt>{% endblock %}

{% block localscript %}
function toggleLastBuilds()
{
	$('#mbd_lb_click_me').click(
		function()
		{
			$('#mbd_last_builds').toggle();
			$('#mbd_last_builds').is(":visible") ?  $('#mbd_lb_anchor').html("hide") : $('#mbd_lb_anchor').html("show");
		}
	);
}


function toggleLastPackages()
{
	$('#mbd_lp_click_me').click(
		function()
		{
			$('#mbd_last_packages').toggle();
			$('#mbd_last_packages').is(":visible") ?  $('#mbd_lp_anchor').html("hide") : $('#mbd_lp_anchor').html("show");
		}
	);
}


function updateLastBuildsCount()
{
	$('#mbd_lb_count').html($('#mbd_last_builds li').size());
}


function updateLastPackagesCount()
{
	$('#mbd_lp_count').html($('#mbd_last_packages li').size());
}


$(document).ready(
	function()
	{
		toggleLastBuilds();
		toggleLastPackages();
		updateLastBuildsCount();
		updateLastPackagesCount();
	}
);
{% endblock %}

{% block content %}
	<div id="mbd_index_status">
		<div class="box">
			<h1 class="box-caption"><span class="status {{ daemon.tpl.style }}">{{ daemon.tpl.running_text }}: {{ daemon.tpl.model }} </span></h1>

			<div id="mbd_index_repositories">
				<div class="inner-box">
					<h1 class="inner-box-caption">Packager: {{ daemon.tpl.packages|length }} packaging</h1>
					{% if repositories.count > 0 %}
						<h2>Repositories:</h2>
						<ul>
							{% for r in repositories %}
								<li><a href="/mini_buildd/repositories/{{ r.identity }}">{{ r }}</a></li>
							{% endfor %}
						</ul>

						<hr />
						<h2>Active:</h2>
						{% if daemon.tpl.packages.items %}
							<ul>
								{% for k, p in daemon.tpl.packages.items %}
									<li>{{ p }}</li>
								{% endfor %}
							</ul>
						{% else %}
							<ul>
								<li class="idle">currently nothing to do</li>
							</ul>
						{% endif %}

						<h2>Last packages: <span id="mbd_lp_count">0</span> (<span id="mbd_lp_click_me"><a id="mbd_lp_anchor" href="#">show</a></span>)</h2>
						<ul id="mbd_last_packages">
							{% for p in daemon.tpl.last_packages %}
								<li>
									<a href="/mini_buildd/api?command=show&package={{ p.package|urlencode }}">{{ p.package }}</a>:
									{{ p }}
									<br />
									Build results:
									{% for arch, bres in p.success.items %}
										<a href="../log/{{ bres.log }}">+{{ arch }}</a> ({{ bres.stat }})
									{% endfor %}
									{% for arch, bres in p.failed.items %}
										<a href="../log/{{ bres.log }}">-{{ arch }}</a> ({{ bres.stat }})
									{% endfor %}
								</li>
							{% endfor %}
						</ul>

					{% else %}
						<p>No prepared repositories.</p>
					{% endif %}
				</div>
			</div>

			<div id="mbd_index_chroots">
				<div class="inner-box">
					<h1 class="inner-box-caption">Builder: {{ daemon.tpl.build_queue }}</h1>

					{% if chroots.count > 0 %}
						<h2>Chroots:</h2>
						<ul>
							{% for c in chroots %}
								<li>{{ c }}</li>
							{% endfor %}
						</ul>

						<h2>Active:</h2>
						{% if daemon.tpl.builds.items %}
							<ul>
								{% for k, b in daemon.tpl.builds.items %}
									<li>{{ b }}</li>
								{% endfor %}
							</ul>
						{% else %}
							<ul>
								<li class="idle">currently nothing to do</li>
							</ul>
						{% endif %}

						<h2>Last builds: <span id="mbd_lb_count">0</span>  (<span id="mbd_lb_click_me"><a id="mbd_lb_anchor" href="#">show</a></span>)</h2>
						<ul id="mbd_last_builds">
							{% for b in daemon.tpl.last_builds %}
								<li>{{ b }}</li>
							{% endfor %}
						</ul>

					{% else %}
						<p>No prepared chroots.</p>
					{% endif %}
				</div>
			</div>

			<div id="mbd_index_remotes">
				<div class="inner-box">
					<h1 class="inner-box-caption">Network: {{ daemon.tpl.remotes|length }} remotes</h1>
					{% if remotes.count > 0 %}
						<h2>Remotes:</h2>
						<ul>
							{% for r in remotes %}
								<li><a href="http://{{ r.http }}">{{ r }}</a></li>
							{% endfor %}
						</ul>
					{% else %}
						<p>No prepared remotes.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
