{% extends "mini_buildd/base.html" %}

{% block title %}mini-buildd{% endblock %}
{% block page_title %}{{ daemon.model.identity }}{% endblock %}
{% block page_sub_title %}
	{% if not daemon.is_busy %}
		{% if daemon.is_running %}
			<a class="button-stop" title="Stop" href="/mini_buildd/api?command=stop&amp;output=referer">Stop</a>
		{% else %}
			<a class="button-start" title="Start" href="/mini_buildd/api?command=start&amp;output=referer">Start</a>
		{% endif %}
	{% endif %}
	<span class="status {% if daemon.is_busy %}busy{% elif daemon.is_running %}running{% else %}stopped{% endif %}">
		{% if daemon.is_busy %}Busy...{% elif daemon.is_running %}Running{% else %}Stopped{% endif %}: {{ daemon.model }}
	</span>
{% endblock %}
{% block mbd_page_footer %}
	<a href="/mini_buildd/api?command=getkey">Archive Key</a>: <tt>{{ daemon.model.mbd_gnupg_long_id }}: {{ daemon.model.mbd_gnupg_fingerprint }}</tt>
{% endblock %}

{% block localscript %}
function toggleLastBuilds()
{
	$('#mbd_lb_click_me').click(
		function()
		{
			$('#mbd_last_builds').toggle();
			$('#mbd_last_builds').is(":visible") ? $('#mbd_lb_anchor').html("hide") : $('#mbd_lb_anchor').html("show");
		}
	);
}

function toggleLastPackages()
{
	$('#mbd_lp_click_me').click(
		function()
		{
			$('#mbd_last_packages').toggle();
			$('#mbd_last_packages').is(":visible") ?  $('#mbd_lp_anchor').html("hide") : $('#mbd_lp_anchor').html("show");
		}
	);
}

$(document).ready(
	function()
	{
		toggleLastBuilds();
		toggleLastPackages();
	}
);
{% endblock %}


{% block content %}
	<div id="mbd_index_status">
		<div id="mbd_index_repositories">
			<div class="box">
				<h1 class="box-caption">Packager: {{ daemon.packages|length }} packaging</h1>
				{% if daemon.packages.items %}
					{% include "mini_buildd/snippet_packager_status.html" with packages=daemon.packages.values id="mbd_active_packages" %}
				{% endif %}

				<h2>Last packages: {{ daemon.last_packages|length }} (<span id="mbd_lp_click_me"><a id="mbd_lp_anchor" href="#">show</a></span>)</h2>

				{% if daemon.last_packages %}
					{% include "mini_buildd/snippet_packager_status.html" with packages=daemon.last_packages id="mbd_last_packages" %}
				{% endif %}

				<h2 title="Active and prepared repositories">Repositories:</h2>
				<ul>
					{% for r in repositories %}
						<li><a class="status {{ r.get_status_display }}" href="/mini_buildd/repositories/{{ r.identity }}">{{ r }}</a></li>
					{% empty %}
						<li>No repositories.</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div id="mbd_index_chroots">
			<div class="box">
				<h1 class="box-caption">Builder: {{ daemon.build_queue }} building</h1>
				{% if daemon.builds.items %}
					{% include "mini_buildd/snippet_builder_status.html" with builds=daemon.builds.values id="mbd_active_builds" %}
				{% endif %}

				<h2>Last builds: {{ daemon.last_builds|length }} (<span id="mbd_lb_click_me"><a id="mbd_lb_anchor" href="#">show</a></span>)</h2>

				{% if daemon.last_builds %}
					{% include "mini_buildd/snippet_builder_status.html" with builds=daemon.last_builds id="mbd_last_builds" %}
				{% endif %}

				<h2 title="Active and prepared chroots">Chroots:</h2>
				<ul>
					{% for c in chroots %}
						<li><span class="status {{ c.get_status_display }}">{{ c }}</span></li>
					{% empty %}
						<li>No chroots.</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div id="mbd_index_remotes">
			<div class="box">
				<h1 class="box-caption">Network: {{ remotes|length }} remotes</h1>
				<h2 title="Active and prepared remotes">Remotes:</h2>
				<ul>
					{% for r in remotes %}
						<li><a class="status {{ r.get_status_display }}" href="http://{{ r.http }}">{{ r }}</a></li>
					{% empty %}
						<li>No remotes.</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
