{% extends "mini_buildd/base.html" %}
{% load base %}

{% block title %}mini-buildd{% endblock %}

{% block content %}

	<div id="mb_index_status">
		<div class="box">
			<h1 class="box-caption"><span class="status {{ daemon.tpl.style }}">{{ daemon.tpl.running_text }}: {{ daemon.tpl.model }} </span></h1>

			<form id="mb_repository_search_form" action="/mini_buildd/repositories/" name="repository-search-form" method="get">
				<input type="hidden" name="action" value="search" />
				<table>
					<tr>
						<th>Package</th>
						<th>Repository</th>
						<th />
					</tr>
					<tr>
						<td><input type="text" name="package" size="80" title="Please enter a package name pattern (shell-like glob)." class="package-input" /></td>
						<td><select name="repository" size="1">
								{% for r in repositories.all %}
									<option value="{{ r.identity|urlencode }}">{{ r }}</option>
								{% endfor %}
								<option selected="selected" value="">any</option>
						</select></td>
						<td class="form-submit"><input title="Search for package!" type="submit" value="Search" /></td>
					</tr>
				</table>
			</form>

			<div id="mb_index_repositories">
				<div class="inner-box">
					<h1 class="inner-box-caption">Packager: {{ daemon.tpl.packages|length }} packaging</h1>
					{% if repositories.count > 0 %}
						<h2>Repositories:</h2>
						<ul>
							{% for r in repositories %}
								<li><a href="/mini_buildd/repositories/{{ r.identity }}">{{ r }}</a></li>
							{% endfor %}
						</ul>

						<hr />
						<h2>Packaging:</h2>
						<ul>
							{% for k, p in daemon.tpl.packages.items %}
								<li>{{ p }}</li>
							{% endfor %}
						</ul>

						<h2>Last packages:</h2>
						<ul>
							{% for p in daemon.tpl.last_packages %}
								<li>{{ p }}</li>
							{% endfor %}
						</ul>

					{% else %}
						<p>No prepared repositories.</p>
					{% endif %}
				</div>
			</div>

			<div id="mb_index_chroots">
				<div class="inner-box">
					<h1 class="inner-box-caption">Builder: {{ daemon.tpl.build_queue }}</h1>
					{% if chroots.count > 0 %}
						<h2>Chroots:</h2>
						<ul>
							{% for c in chroots %}
								<li>{{ c }}</li>
							{% endfor %}
						</ul>

						<h2>Building:</h2>
						<ul>
							{% for k, b in daemon.tpl.builder_status.tpl.builds.items %}
								<li>{{ b }}</li>
							{% endfor %}
						</ul>

						<h2>Last builds:</h2>
						<ul>
							{% for b in daemon.tpl.builder_status.tpl.last_builds %}
								<li>{{ b }}</li>
							{% endfor %}
						</ul>

					{% else %}
						<p>No prepared chroots.</p>
					{% endif %}
				</div>
			</div>

			<div id="mb_index_remotes">
				<div class="inner-box">
					<h1 class="inner-box-caption">Network: {{ daemon.tpl.remotes|length }} remotes</h1>
					{% if remotes.count > 0 %}
						<h2>Remotes:</h2>
						<ul>
							{% for r in remotes %}
								<li><a href="http://{{ r.http }}">{{ r }}</a></li>
							{% endfor %}
						</ul>
					{% else %}
						<p>No prepared remotes.</p>
					{% endif %}
				</div>
			</div>

		</div>
	</div>

{% endblock %}
