{% extends "mini_buildd/base.html" %}
{% load base %}

{% block title %}mini-buildd{% endblock %}

{% block content %}

<div id="mb_index_status">
	<div class="box">
		<h1 class="box-caption">Status: <span class="status {{ daemon.tpl_style }}">{{ daemon.tpl_running_text }}</span></h1>

		<h2>Daemon: {{ daemon.tpl_model }}</h2>

		<ul>
			<li>{{ daemon.tpl_iqs }} changes files pending in incoming.</li>
			<li>{{ daemon.tpl_bqs }} build requests pending in queue.</li>
		</ul>

		<hr />

		<h3>Packager: {{ daemon.tpl_packages|length }} active packages</h3>
		<ul>
			{% for p in daemon.tpl_packages %}
				<li>{{ p }}</li>
			{% endfor %}
		</ul>

		<hr />

		<h3>Builder: {{ daemon.tpl_builder_status.building|length }}/{{ daemon.tpl_builder_status.tpl_max_builds }} active builds (load {{ daemon.tpl_builder_status.tpl_load }})</h3>

		<h4>{{ daemon.tpl_builder_status.building|length }} building:</h4>
		<ul>
			{% for b in daemon.tpl_builder_status.building %}
			<li>{{ b }} [TODO: since timestamp]</li>
			{% endfor %}
		</ul>

		<h4>{{ daemon.tpl_builder_status.pending|length }} pending:</h4>
		<ul>
			{% for b in daemon.tpl_builder_status.pending %}
			<li>{{ b }}</li>
			{% endfor %}
		</ul>

		<hr />

		<h3>Remotes: {{ daemon.tpl_remotes|length }} active</h3>
		<ul>
			{% for r in daemom.tpl_remotes %}
				<li>{{ r }}</li>
			{% endfor %}
		</ul>

	</div>
</div>

<div id="mb_index_repositories">
	<div class="box">
		<h1 class="box-caption">Repositories</h1>
		{% if repositories.count > 0 %}

		<form id="mb_repository_search_form" action="/mini_buildd/repositories/" name="repository-search-form" method="get">
			<input type="hidden" name="action" value="search" />
			<table>
				<tr>
					<th>Package</th>
					<th>Repository</th>
					<th />
				</tr>
				<tr>
					<td><input type="text" name="package" size="80" title="Please enter a package name pattern (shell-like glob)." class="package-input" /></td>

					<td><select name="repository" size="1">
							{% for r in repositories.all %}
							<option value="{{ r.identity|urlencode }}">{{ r }}</option>
							{% endfor %}
							<option selected="selected" value="">any</option>
					</select></td>

					<td class="form-submit"><input title="Search for package!" type="submit" value="Search" /></td>
				</tr>
			</table>
		</form>

		<ul>
			{% for r in repositories %}
			<li><a href="/mini_buildd/repositories/{{ r.identity }}">{{ r }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No repositories configured.</p>
		{% endif %}
	</div>
</div>
<div id="mb_index_chroots">
	<div class="box">
		<h1 class="box-caption">Chroots</h1>
		{% if chroots.count > 0 %}
		<ul>
			{% for c in chroots %}
			<li>{{ c }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No chroots configured.</p>
		{% endif %}
	</div>
</div>
<div id="mb_index_remotes">
	<div class="box">
		<h1 class="box-caption">Remotes</h1>
		{% if remotes.count > 0 %}
		<ul>
			{% for r in remotes %}
			<li>{{ r }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No remotes configured.</p>
		{% endif %}
	</div>
</div>

{% endblock %}
