{% extends "mini_buildd/base.html" %}
{% load repository %}

{% block mbd_page_title %} - repository {{ object.identity }}{% endblock %}
{% block mbd_page_footer %} &raquo; repository {{ object.identity }}{% endblock %}

{% block content %}

<div id="mb_index_repository">
  <div class="box">
    <h1 class="box-caption">Repository: {{ object.identity }}</h1>

{% for d in object.distributions.all %}
    <div class="inner-box">
      <h1 class="inner-box-caption">Distribution: {{ d }}</h1>
      <h2>Mandatory Architectures</h2>
      <ul>
  {% for a in d.mandatory_architectures.all  %}
        <li>{{ a.name }}</li> 
  {% endfor %}
      </ul>
      <h2>Optional Architectures</h2>
  {% if d.optional_architectures.all.count > 0  %}
      <ul>
    {% for a in d.optional_architectures.all  %}
        <li>{{ a.name }}</li> 
    {% endfor %}
      </ul>
  {% else %}
      <p>No optional architectures configured.</p> 
  {% endif %}
      <hr />
  {% for s in object.layout.suites.all %}
      <h2>{{ d.base_source.codename }}-{{ object.identity }}-{{ s.name }}: <span class="emphasize-headline">{% repository_desc object d s %}</span></h2>
      <ul>
        <li>Mandatory version part: <pre>{% repository_mandatory_version object d s %}</pre></li>
        <li>Apt source line: <pre style="display: inline">{% repository_apt_line object d s %}</pre></li>
    {% if s.migrates_from %}
        <li>Migrates from: <span class="emphasize-migrates-from">{{ s.migrates_from.name }}</span></li>
    {% else %}
        <li>Uploadable.</li>
        <li>Sources: <pre style="display: inline">{% repository_sources object d s %}</pre></li>
    {% endif %}
      </ul>
  {% endfor %}
    </div>
{% endfor %}

{% if object.external_home_url %}
    <div class="inner-box">
      <h1 class="inner-box-caption">Misc</h1>
      <ul>
        <li>External documentation: <a href="{{ object.external_home_url }}">{{ object.external_home_url }}</a></li>
      </ul>
    </div>
{% endif %}

  </div>
</div>

{% endblock %}
