{% extends "mini_buildd/page.html" %}
{% load base %}

{% block page_title %}Repository {{ object.identity }}{% endblock %}
{% block page_sub_title %}Setup details{% endblock %}
{% block mbd_page_footer %} &raquo; {{ object.identity }}{% endblock %}

{% block content %}

	<div id="mb_repository">
		<div class="box">
			<h1 class="box-caption">Repository: {{ object.identity }}</h1>

			{% if object.external_home_url %}
				<div id="mb_repository_misc">
					<ul>
						<li>External documentation: <a href="{{ object.external_home_url }}">{{ object.external_home_url }}</a></li>
					</ul>
				</div>
			{% endif %}

			{% for d in object.distributions.all %}
				<div class="inner-box">
					<h1 class="inner-box-caption">Distribution: {{ d }}</h1>
					<h2>Architectures</h2>
					<ul>
						{% for a in d.architectureoption_set.all  %}
							<li>{{ a.architecture.name }}
								{% if a.optional %}
									(o)
								{% endif %}
							</li>
						{% endfor %}
					</ul>
					<hr />
					{% for s in object.layout.suiteoption_set.all %}
						<h2>{{ d.base_source.codename }}-{{ object.identity }}-{{ s.suite.name }}: <span class="emphasize-headline">{% repository_desc object d s %}</span></h2>
						<ul>
							<li>Apt source line: <pre class="pre-inline">{% distribution_apt_line d object s %}</pre></li>
							<li>Mandatory version part: <pre class="pre-inline">{% repository_mandatory_version object d s %}</pre></li>
							{% if s.suite.migrates_to %}
								<li>Migrates to: <span class="emphasize-migrates-from">{{ s.suite.migrates_to.name }}</span></li>
							{% endif %}
							{% if s.uploadable %}
								<li>Uploadable.</li>
								<li>Apt sources.list:<div class="pre-block"><pre>{% distribution_apt_sources_list d object s %}</pre></div></li>
								<li>Apt preferences:<div class="pre-block"><pre>{% distribution_apt_preferences d object s %}</pre></div></li>
							{% endif %}
						</ul>
					{% endfor %}
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}
